/* Estilos para centrar el contenido */
.center-content {
  margin-top: 2%; /* Margen superior del 2% */
  margin-left: auto; /* Margen izquierdo automático */
  margin-right: auto; /* Margen derecho automático */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los grupos de formularios */
.form-group {
  width: 80%; /* Ancho del 80% */
  margin: 0 auto; /* Centra horizontalmente dentro de su contenedor */
  padding: 20px; /* Añade espacio interno alrededor del grupo de formularios */
  background-color: #1fa8df; /* Fondo gris claro */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para los botones */
.boton {
  margin: 1%; /* Margen del 1% en todos los lados */
  width: 50%; /* Ancho del 50% */
  padding: 10px 20px; /* Añade espacio interno alrededor del botón */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  color: #1468e7; /* Color del texto */
  background-color: #007bff; /* Color de fondo del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave */
}

.boton:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar por encima */
}

/* Estilos para las tarjetas */
.card {
  margin-top: 5%; /* Margen superior del 5% */
  background-color: #eb2e96bb; /* Fondo blanco */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para los radio buttons */
.mat-radio-button {
  position: relative; /* Posición relativa para facilitar la superposición del texto */
  display: inline-flex; /* Muestra los radio buttons en línea */
  align-items: center; /* Alinea los elementos verticalmente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.mat-radio-button .mat-radio-inner-circle {
  border-color: #007bff; /* Color del borde del círculo interno */
}

.mat-radio-button .mat-radio-ripple {
  background-color: #007bff; /* Color de la onda de clic */
}

.mat-radio-button:not(.mat-radio-disabled) .mat-radio-label-content {
  color: #000; /* Color del texto cuando el radio button no está desactivado */
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple {
  border-color: #007bff; /* Color del borde del círculo interno y de la onda de clic en los radio buttons de acento */
}
